
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">

<!-- This is where React will render the contents it generates -->
<div id="app"></div>

<!-- All of our JS code will be transpiled into this bundle.js file -->
<script src="/bundle.js"></script>
